/* BODY */
body h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Poppins", sans-serif;
}
img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* SECTION - ONE */
.courses-bg {
  height: auto;
  width: 100%;
  background-image: url(../images/blog-page/blog-bg.svg);
  background-size: cover;
}
.section-one {
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 7em;
}
.section-one h1 {
  color: #fffbf6;
  font-size: 72px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
  padding-block: 1em;
  -webkit-animation: tracking-in-expand 0.5s ease-in-out both;
  animation: tracking-in-expand 0.5s ease-in-out both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 992px) {
  .section-one h1 {
    font-size: 50px;
  }
}

/* SECTION - TWO */
.section-two {
  padding-block: 4em;
}
.section-two .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
@media (max-width: 991px) {
  .section-two .parent {
    grid-template-columns: repeat(1, 1fr);   
  }
}
.section-two .card {
  margin-inline: auto;
  align-items: center;
  border: none;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 0px 40px;
  background-color: #fffcfc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.section-two .card:hover {
  border-bottom: 2px solid #22170f;
  border-left: 2px solid #22170f;
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}
.section-two .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 14em;
  height: 100%;
  background-color: #ffe7d538;
  border-radius: 0px 40px;
}
.section-two .card img {
  width: 100%;
  max-height: 14em;
  height: -webkit-fill-available;
  transition: 0.3s;
}
.section-two .card:hover .image img {
  transform: scale(1.05);
  transition: 0.3s;
}
.section-two .card .content {
  width: 100%;
  margin-inline: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.section-two .author {
  justify-content: space-between;
  gap: 5px;
}
.section-two .author .left,
.section-two .author .right {
  gap: 4px;
}
.section-two .author img {
  height: 21px;
  width: 21px;
}
.section-two .author p {
  margin: 0;
  /* color: #6b4932 !important; */
  /* font-weight: 500; */
  font-size: 13px;
}
.section-two .card h1 {
  font-size: 21px;
  color: #22170f;
  margin-top: 0px;
  font-weight: 600;
}
.section-two .card .blog-desc {
  text-align: justify;
  font-size: 13px;
  color: #352519;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.section-two a {
  position: relative;
  display: flex;
  width: auto;
  justify-content: center;
  margin-top: 0;
  align-items: center;
  padding: 10px 20px;
  background-color: #37271b;
  color: #fffcfc;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  border-radius: 0px 25px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: 2px solid #37271b;
  transition: 0.3s;
}
.section-two a:hover {
  color: #37271b;
  background: #fffcfc;
}
@media (max-width: 992px) {
  .section-two {
    padding-block: 1em;
  }
  .section-two .image {
    margin: 0 !important;
    max-width: none !important;
    width: -webkit-fill-available !important;
    min-height: 10em !important;
  }
  .section-two .image img {
    max-height: 12em;
  }
  .section-two .content h1 {
    font-size: 18px;
    margin-top: 0px;
  }
  .section-two .content .blog-desc {
    font-size: 13px;
    letter-spacing: -0.25px;
  }
  .section-two .a {
    width: auto;
    justify-content: center;
    padding: 10px 15px;
  }
}


/* BLOG MODAL */
.modal {
  padding: 4em 1em 1em 1em;
  background: #000000c2;
  justify-content: center;
}
.modal-content {
  border-radius: 0px 25px !important;
  padding: 1em;
  overflow-y: auto;
  width: 50% !important;
}
@media (max-width: 991px) {
  .modal-content {width: 100% !important;}
}



/* SECTION - THREE */
.section-three {
  padding-block: 5em;
}
.section-three h1 {
  color: #3a2d1d;
  font-size: 32px;
  font-weight: 700;
  word-spacing: 3px;
  line-height: 1.5em;
  margin-bottom: 0;
  padding-inline: 3em;
  text-align: center;
}
.section-three .text {
  text-align: justify;
  text-align: justify;
  padding-block: 1em;
  font-size: 16px;
  margin: auto;
  color: #25170d;
  background: #fffcfc;
  border-radius: 0px 40px;
  padding: 1.75em 1em 1em 1em;
}
.section-three .text h6 {
  font-size: 13px;
  margin-block: 1em;
  line-height: 1.6;
}
@media (max-width: 992px) {
  .section-three {
    padding-block: 2em;
  }
  .section-three h1 {
    padding-inline: 0;
    font-size: 18px;
    word-spacing: 2px;
  }
}
