/* BODY */
body h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Poppins", sans-serif;
}



/* SECTIONS */
section {
    padding-top: 100px;
}



/* SECTION - ONE */
.section-one {
    height: 100vh;
    display: flex;
    align-items: center;
}
.section-one .row {
    margin-top: 2em;
}
.section-one .row .left-img img {
    margin-left: -5em;
    width: 100%;
}
.section-one .row .right-img img {
    margin-left: 5em;
    width: 100%;
}
.section-one .row h1 {
    color: #3e2c1e;
    font-size: 60px;
    font-weight: 700;
    -webkit-animation: focus-in-expand 0.4s ease-in-out both;
	animation: focus-in-expand 0.4s ease-in-out both;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: 0px;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: 0px;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.section-one .hero-button {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 2em;
    -webkit-animation: tracking-in-expand 0.4s ease-in-out both;
	  animation: tracking-in-expand 0.4s ease-in-out both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
.section-one .swipe-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 40px 12px 40px;
    background-color: #3e2c1e;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px 20px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #3e2c1e;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
}
.section-one .swipe-button .text {
    position: relative;
    z-index: 2;
}
.section-one .swipe-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    color: #22170F;
    background-color: #fffcfc;
    transition: left 0.3s;
    border-radius: 0px 20px;
}
.section-one .swipe-button:hover .swipe-overlay {
    left: 0;
    transition: left 0.3s ease-out;
}
.section-one .swipe-button:hover .text {
    color: #22170F;
    transition: color 0.3s ease-out;
}
.section-one .swipe-button path {
  transition: all ease 0.3s;
}
@media (max-width: 992px) {
    .section-one .row {
        margin-top: 0;
    }
    .section-one .row .left-img {
        width: 80%;
        margin: auto;
    }
    .section-one .row .right-img {
        display: none;
    }
    .section-one .row .left-img img, .section-one .row .right-img img {
        margin-left: 0;
    }
    .section-one .row h1 {
        font-size: 30px;
        margin-top: 1.5em;
    }
    @-webkit-keyframes focus-in-expand {
        0% {
          letter-spacing: -5px;
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
    }
    @keyframes focus-in-expand {
        0% {
          letter-spacing: -5px;
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
    }
}




/* SECTION - TWO */
.section-two {
  padding: 0;
  display: flex;
  align-items: center;
}
.section-two .inner-section-two {
  height: auto;
  width: 100%;
  padding-block: 10em;
  background-image: linear-gradient(0deg, #7247260a, #7247260a), url(../images/home-page/bg-section-2.svg);
  background-size: cover;
}
.section-two .inner-section-two .row .card {
  padding: 3em;
  padding-bottom: 2.5em;
  border-radius: 0px 40px;
  border: none;
  background: #fffcfc;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.1);
}
.section-two .inner-section-two .row .card h2 {
  font-size: 18px;
  background: #fff1e7;
  color: #724726;
  font-weight: 500;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 0px 10px;
  letter-spacing: 0.25px;
  margin-bottom: 1em;
}
.section-two .inner-section-two .row .card h1 {
  font-size: 36px;
  font-weight: 600;
  color: #3e2c1e;
  letter-spacing: 0.25px;
  margin-bottom: 12px;
}
.section-two .inner-section-two .row .card p {
  font-size: 16px;
  width: 95%;
  line-height: 28px;
  letter-spacing: 1px;
} 
.section-two .swipe-button {
  position: relative;
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 1em;
  align-items: center;
  padding: 12px 40px 12px 40px;
  background-color: #3e2c1e;
  color: #fffcfc;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0px 20px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: 2px solid #3e2c1e;
}
.section-two .swipe-button .text {
  position: relative;
  z-index: 2;
}
.section-two .swipe-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: #22170F;
  background-color: #fffcfc;
  transition: left 0.3s;
  border-radius: 0px 20px;
}
.section-two .swipe-button:hover .swipe-overlay {
  left: 0;
  transition: left 0.3s ease-out;
}
.section-two .swipe-button:hover .text {
  color: #22170F;
  transition: color 0.3s ease-out;
}
@media (max-width: 992px) {
  .section-two .inner-section-two .row .card  {
    padding: 2em;
    padding-bottom: 2em;
  }
  .section-two .inner-section-two .row .card h2 {
    font-size: 14px;
  }
  .section-two .inner-section-two .row .card h1 {
    font-size: 24px;
  }
  .section-two .inner-section-two .row .card p {
    font-size: 13px;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  .section-two .swipe-button, .section-one .swipe-button {
    padding: 8px 30px 8px 30px;
    margin-top: 0.5em;
  }
}