/* BODY */
body h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Poppins", sans-serif;
}
img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* SECTIONS */
section {
    padding-top: 100px;
}










/* SECTION - ONE */
.section-one {
    height: 100vh;
    display: flex;
    align-items: center;
}
/* .section-one .row {
    margin-top: 2em;
} */
.section-one .row .left-img img {
    margin-left: -5em;
    width: 100%;
}
.section-one .row .right-img img {
    margin-left: 5em;
    width: 100%;
}
.section-one .row h1 {
    color: #3e2c1e;
    font-size: 60px;
    font-weight: 700;
    -webkit-animation: focus-in-expand 0.4s ease-in-out both;
	animation: focus-in-expand 0.4s ease-in-out both;
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: 0px;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: 0px;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
.section-one .hero-button {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    /* margin-bottom: 2em; */
    -webkit-animation: tracking-in-expand 0.4s ease-in-out both;
	  animation: tracking-in-expand 0.4s ease-in-out both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
.section-one .swipe-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 40px 12px 40px;
    background-color: #3e2c1e;
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0px 20px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #3e2c1e;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
}
.section-one .swipe-button .text {
    position: relative;
    z-index: 2;
}
.section-one .swipe-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    color: #22170F;
    background-color: #fffcfc;
    transition: left 0.2s;
    border-radius: 0px 20px;
}
.section-one .swipe-button:hover .swipe-overlay {
    left: 0;
    transition: left 0.2s ease-out;
}
.section-one .swipe-button:hover .text {
    color: #22170F;
    transition: color 0.2s ease-out;
}

.section-one #toast {
  visibility: hidden;
  padding: 16px;
  position: fixed;
  z-index: 9;
  right: 3%;
  border-radius: 0px 20px;
  background: #ffeedef5;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
  color: #6a4b32;
  font-weight: 500;
  width: fit-content;
  /* width: 65%; */
  text-align: end;
  bottom: 30px;
  font-size: 15px;
  transition: 0.2s;
}
.section-one #toast a {
  font-weight: 600;
  color: #6a4b32;
}

/* Show the toast */
.section-one #toast.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3s;
}

/* Add animation (fade in and fade out) */

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}


@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@media (max-width: 992px) {
    .section-one .row {
        margin-top: 0;
    }
    .section-one .row .left-img {
        width: 80%;
        margin: auto;
    }
    .section-one .row .right-img {
        display: none;
    }
    .section-one .row .left-img img, .section-one .row .right-img img {
        margin-left: 0;
    }
    .section-one .row h1 {
        font-size: 30px;
        margin-top: 1.5em;
    }
    @-webkit-keyframes focus-in-expand {
        0% {
          letter-spacing: -5px;
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
    }
    @keyframes focus-in-expand {
        0% {
          letter-spacing: -5px;
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
    }
}










/* SECTION - TWO */
.section-two {
  padding: 0;
  display: flex;
  align-items: center;
}
.section-two .inner-section-two {
  height: auto;
  width: 100%;
  padding-block: 10em;
  background-image: linear-gradient(0deg, #7247260a, #7247260a), url(../images/home-page/bg-section-2.svg);
  background-size: cover;
}
.section-two .inner-section-two .row .card {
  padding: 3em;
  padding-bottom: 2.5em;
  border-radius: 0px 40px;
  border: none;
  background: #fffcfc;
  box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.1);
}
.section-two .inner-section-two .row .card h2 {
  font-size: 18px;
  background: #fff1e7;
  color: #724726;
  font-weight: 500;
  width: fit-content;
  padding: 8px 16px;
  border-radius: 0px 10px;
  letter-spacing: 0.25px;
  margin-bottom: 1em;
}
.section-two .inner-section-two .row .card h1 {
  font-size: 36px;
  font-weight: 600;
  color: #3e2c1e;
  letter-spacing: 0.25px;
  margin-bottom: 12px;
}
.section-two .inner-section-two .row .card p {
  font-size: 16px;
  width: 95%;
  line-height: 28px;
  letter-spacing: 1px;
} 
.section-two .swipe-button {
  position: relative;
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 1em;
  align-items: center;
  padding: 12px 40px 12px 40px;
  background-color: #3e2c1e;
  color: #fffcfc;
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0px 20px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: 2px solid #3e2c1e;
}
.section-two .swipe-button .text {
  position: relative;
  z-index: 2;
}
.section-two .swipe-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: #22170F;
  background-color: #fffcfc;
  transition: left 0.2s;
  border-radius: 0px 20px;
}
.section-two .swipe-button:hover .swipe-overlay {
  left: 0;
  transition: left 0.2s ease-out;
}
.section-two .swipe-button:hover .text {
  color: #22170F;
  transition: color 0.2s ease-out;
}
@media (max-width: 992px) {
  .section-two .inner-section-two .row .card  {
    padding: 2em;
    padding-bottom: 2em;
  }
  .section-two .inner-section-two .row .card h2 {
    font-size: 14px;
  }
  .section-two .inner-section-two .row .card h1 {
    font-size: 24px;
  }
  .section-two .inner-section-two .row .card p {
    font-size: 13px;
    width: 95%;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  .section-two .swipe-button, .section-one .swipe-button {
    padding: 8px 30px 8px 30px;
    margin-top: 0.5em;
  }
}










/* SECTION - THREE */
.section-three .section-title h1 {
  text-align: center;
  color: #352519;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.section-three .section-title h1:before, .section-three .section-title h1::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: '\a0';
  background-color: #22170F;
}
.section-three .section-title h1:before {
  margin-left: -50%;
  text-align: right;
}
.section-three .section-three-container {
  padding-top: 3em;
}
/* .section-three .section-three-container .card-box {
  width: 50%;
  float: left;
} */
.section-three .section-three-container .card {
  padding: 2em;
  flex-direction: row;
  align-items: center;
  border: none;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 0px 40px;
  background-color: #fffcfc;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  margin-block: 1em;
  transition: 0.2s;
}
.section-three .section-three-container .card:hover {
  border-bottom: 2px solid #22170F;
  border-left: 2px solid #22170F;
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.05);
  transition: 0.2s;
}
.section-three .section-three-container .card:nth-child(1) {
  margin-right: auto;
}
.section-three .section-three-container .card:nth-child(2) {
  margin: auto;
}
.section-three .section-three-container .card:nth-child(3) {
  margin-left: auto;
}
.section-three .section-three-container .card .image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: inherit;
  min-height: 14em;
  height: -webkit-fill-available;
  max-width: 15em;
  background-color: #ffe7d538;
  border-radius: 0px 20px;
}
.section-three .section-three-container .card img {
  width: 85%;
  max-height: 15em;
  height: -webkit-fill-available;
  transition: 0.2s;

}
.section-three .section-three-container .card:hover .image img {
  width: 90%;
  transition: 0.2s;
}
.section-three .section-three-container .card .content {
  width: 100%;
  margin-inline: 1em;
}
.section-three .section-three-container .card h1 {
  font-size: 30px;
  font-weight: 600;
  color: #22170F;
}
.section-three .section-three-container hr {
  height: 2px;
  color: #3c2c1e;
  opacity: 0.75;
}
.section-three .section-three-container .card p {
  text-align: justify;
  font-size: 14px;
  color: #352519;
}
.section-three .swipe-button {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 1em;
  align-items: center;
  padding: 10px 40px 10px 40px;
  background-color: #37271b;
  color: #fffcfc;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  border-radius: 0px 20px;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: 2px solid #37271b;
}
.section-three .swipe-button .text {
  position: relative;
  z-index: 2;
}
.section-three .swipe-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: #22170F;
  background-color: #fffcfc;
  transition: left 0.2s;
  border-radius: 0px 20px;
}
.section-three .swipe-button:hover .swipe-overlay {
  left: 0;
  transition: left 0.2s ease-out;
}
.section-three .swipe-button:hover .text {
  color: #22170F;
  transition: color 0.2s ease-out;
}
@media (max-width: 992px) {
  .section-three .section-title h1 {
    font-size: 36px;
  }
  .section-three .section-title h1::after, & ::before {
    display: none;
  }
  .section-three .section-three-container .card {
    flex-direction: column;
    width: 90%;
    margin: auto !important;
    margin-bottom: 1.5em !important;
    padding: 1.5em;
  }
  .section-three .section-three-container .image {
    margin: 0 !important;
    max-width: none !important;
    width: -webkit-fill-available !important;
    margin-bottom: 1em !important;
    min-height: 8em !important;
    max-height: 8em !important;
  }
  .section-three .section-three-container .image img {
    max-height: 8em;
  }
  .section-three .section-three-container .content h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
  .section-three .section-three-container .content p {
    font-size: 13px;
    margin-top: 1em;
    letter-spacing: -0.25px;
  }
  .section-three .swipe-button {
    width: auto;
    margin-top: 1.25em;
    justify-content: center;
  }
}










/* SECTION - FOUR */
.section-four .section-title h1 {
  text-align: center;
  color: #352519;
  font-size: 60px;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.section-four .section-title h1:before, .section-four .section-title h1::after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 50%;
  height: 2px;
  content: '\a0';
  background-color: #22170F;
}
.section-four .section-title h1:before {
  margin-left: -50%;
  text-align: right;
}
.section-four .section-four-container {
  padding-top: 3em;
}
.testimonial-container {
  background-color: #fffcfc;
  border-radius: 5px;
  margin: auto;
  padding: 2em;
  min-height: 27em;
  width: 50%;
  border-radius: 0px 40px;
  position: relative;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
  display: grid;
}

.testimonial-container .heading h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1em;
  text-align: center;
}
.testimonial-container .first-content {
  margin-top: 0em;
  height: 0px;
  width: 97.5%;
}
.testimonial-container .center-content {
  display: flex;
  align-items: center;
  background-color: #fff3eb;
  padding: 1.5em;
  border-radius: 0px 20px;
  height: 16em;
}
.testimonial-container .fa-quote-right {
  margin-top: auto;
  margin-bottom: 0em;
}
.testimonial-container .fa-quote-left {
  margin-bottom: auto;
  margin-top: 0em;
}
.testimonial-container .testimonial {
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 0px;
  padding-inline: 1em;
  font-size: 14px;
  transition: 0.3s;
  font-style: italic;
}
.testimonial-container .user{
  margin-top: 1em;
  display:flex;
  align-items:center;
  justify-content: center;
}
.testimonial-container .user .stars{
  margin-bottom: 8px;
  text-align: center;
  color: #ffb330;
}
.testimonial-container .user .user-details{
  margin-left: 0px;
}
.testimonial-container .user .username{
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.testimonial, .username {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.testimonial.fade-out, .username.fade-out {
  opacity: 0;
}
.testimonial.fade-in, .username.fade-in {
  opacity: 1;
}
.testimonial-container .progressbg {
  background: #ffe3c763;
}
.testimonial-container .progressbar{
  background-color: #22170F !important;
  height: 4px;
  width: 100%; 
  animation: grow 5s linear infinite;
  transform-origin: left;
}
@keyframes grow {
  0%{
    transform: scaleX(0);
  }
}
@media (max-width: 992px) {
  .section-four .section-title h1 {
    font-size: 36px;
  }
  .section-four .section-title h1::after, & ::before {
    display: none;
  }
  .testimonial-container {
    width: 97%;
    padding: 1em;
    padding-bottom: 1.5em;
  }
  .testimonial-container .heading h1 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 1em;
    text-align: center;
  }
  .testimonial-container .first-content {
    margin-top: 0em;
    height: 0px;
    width: 93%;
  }
  .testimonial-container .center-content {
    padding: 0.5em;
    min-height: 20em;
  }
  .testimonial-container .testimonial {
    padding-inline: 5px;
    font-size: 12px;
  }
}

