/* BODY */
body h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Poppins", sans-serif;
}









/* SECTION - ONE */
.why-us-bg {
    height: auto;
    width: 100%;
    background-image: url(../images/why-us-page/why-us-bg-dark.svg);
    background-size: cover;
}
.section-one {
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 7em;
}
.section-one h1 {
    color: #fffbf6;
    font-size: 72px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 1px;
    padding-block: 1em;
    -webkit-animation: tracking-in-expand 0.5s ease-in-out both;
	animation: tracking-in-expand 0.5s ease-in-out both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
@media (max-width: 992px) {
    .section-one h1 {
        font-size: 50px;
    }
}










/* SECTION - TWO */
.section-two {
    padding-block: 1em;
}
.section-two .card {
    width: 30%;
    padding: 1em;
    margin: 1em;
    align-items: center;
    justify-content: center;
    border: none;
    border-left: 2px solid #58432b;
    border-bottom: 2px solid #58432b;
    background-color: #fffcfc;
    border-radius: 0px 30px;
    transition:  all .5s ease-in-out;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
}
.section-two .card:hover {
    cursor: pointer;
}
.section-two .card .image {
    min-height: 6em;
    width: 6em;
    display: flex;
    align-items: center;
    transition: 0.3s;
    border-radius: 0px 20px;
}
.section-two .card img {
    width: 4em;
    transition: 0.3s;
    margin-block: 1em;
    margin-inline: auto;
    animation: shrink 0.6s infinite alternate;
}
@keyframes shrink {
    0% {
      width: 4em;
    }
    100% {
      width: 3.5em;
    }
}
.section-two .card h1 {
    color: #443421;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s ease;
    margin-top: 0.5em;
}
.section-two .card:hover img {
    animation: none;
    transition: 0.3s;
}
.section-two .card:hover .image {
    background: #fff2e4;
}
.section-two .modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.637);
    display: none;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    justify-content: center;
}
.section-two .modal.show {
    display: flex;
    opacity: 1;
}
.section-two .modal-content {
    width: 40%;
    padding: 2em;
    border-radius: 0px 40px;
    border: none;
    text-align: justify;
    background: #fffcfa;
    animation: fadeIn 0.3s ease;
}
.section-two .modal-content span {
    margin-left: auto;
    margin-top: -0.5em;
    font-size: 25px;
    border-radius: 0px 15px;
    color: #443421;
    background: #ffefe1;
    padding: 0px 12px 2px 14px;
}
.section-two .modal-content h1 {
    color: #3a2d1d;
    font-weight: 600;
    margin-top: 10px;
    font-size: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #3a2d1d;
    text-align: center;
}
.section-two .modal-content p {
    margin-bottom: 2.5em;
    font-size: 16px;
    font-weight: 400;
    color: #5e462b;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.section-two .modal-content span:hover {
    cursor: pointer;
}
@media (max-width: 992px){
    .section-two {
        padding-block: 3em;
    }
    .section-two .card {
        width: 90%;
        margin: 10px;
    }
    .section-two .card h1 {
        margin-bottom: 0;
    }
    .section-two .modal-content {
        width: 90%;
    }
    .section-two .modal-content span {
        margin-bottom: 0.5em;
        margin-top: 0;
    }
    .section-two .modal-content h1 {
        font-size: 28px;
    }
    .section-two .modal-content p {
        font-size: 15px;
        margin-bottom: 1.5em;
    }
}










/* SECTION - THREE */
.section-three {
    padding-top: 4em;
    padding-bottom: 3em;
}
.section-three h1 {
    color: #3a2d1d;
    font-size: 32px;
    font-weight: 700;
    word-spacing: 3px;
    line-height: 1.5em;
    margin-bottom: 0;
    padding-inline: 3em;
    text-align: center;
}
@media (max-width: 992px) {
    .section-three {
        padding-top: 1em;
    }
    .section-three h1 {
        padding-inline: 0;
        font-size: 20px;
        word-spacing: 2px;
    }
}



